@font-face {
    font-family: 'pixeboyregular';
    src: url('pixeboy.woff2') format('woff2'),
         url('pixeboy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('/img/couds.png') no-repeat, #86bbff;
    background-size: contain;
    background-position: top -20px left -200px;
    margin:0;
    padding:0;
}

.newScore {
    width:200px;
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;

    img {
        width:100%;
    }
}

.wrapper {
    width:90%;
    margin:0 auto;
    margin-top:60px;
}

.header {
    width:600px;

    img {
        width:100%;
    }
}


.leaderboardWrapper {
    margin:0;
    padding:0;
    margin-top:40px;
    position: relative;

    &:before {
        content:'';
        right:-20px;
        bottom:-20px;
        width:100%;
        height:100%;
        display:block;
        position: absolute;
        background: #00ff98;
        z-index: 1;
    }

    &:after {
        content:'';
        left:-20px;
        top:-20px;
        width:100%;
        height:100%;
        display:block;
        position: absolute;
        background: #4e02d1;
        z-index: 1;
    }
}

.leaderboard {
    margin:0;
    padding:0;
    position: relative;
    max-height: 1500px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &:-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    &__result {
        background:#281734;
        color:#fff;
        font-family: 'pixeboyregular', Arial, sans-serif;
        border-bottom:solid 1px #522e6a;
        position: relative;
        z-index: 2;
        padding:20px 40px;
        list-style: decimal;

        &::marker {
            font-size:50px;
            grid-column: 1;
            grid-row: 1 / 3;
            line-height: 50px;
        }

        &__wrapper {
            display:grid;
            grid-template-columns: 50px auto 200px;
            grid-template-rows: auto auto;    
        }

        &__name {
            font-size:50px;
            grid-column: 2;
            grid-row: 1;
            line-height: 50px;
        }

        &__company {
            font-size:40px;
            grid-column: 2;
            grid-row: 2;
            line-height: 36px;
        }

        &__score {
            font-size:52px;
            grid-column: 3;
            grid-row: 1 / 3;
            align-self: center;
            justify-self: end;
            padding-left: 80px;
            position: relative;

            &:before {
                content:'';
                width:55px;
                height:55px;
                position: absolute;
                display: block;
                background:url('/img/coin.png') no-repeat;
                background-size: contain;
                left:0;
                top:50%;
                transform:translateY(-50%);
            }
        }

    }
}

.scoreAdd {
    background:rgba(0,0,0,0.4);
    position: absolute;
    width:100%;
    height:100%;
    z-index: 5;
    top:0;
    left:0;
    display:none;

    &__modal {
        width:850px;
        height:610px;
        position: absolute;
        top:188px;
        left:50%;
        transform: translateX(-50%);

        &:before {
            content:'';
            right:-20px;
            bottom:-20px;
            width:100%;
            height:100%;
            display:block;
            position: absolute;
            background: #00ff98;
        }
    
        &:after {
            content:'';
            left:-20px;
            top:-20px;
            width:100%;
            height:100%;
            display:block;
            position: absolute;
            background: #4e02d1;
        }

        &__form {
            background:#281734;
            width:100%;
            height:100%;
            position: relative;
            z-index: 10;
            display:flex;
            flex-direction: column;

            &__title {
                color:#fff;
                font-family: 'pixeboyregular', Arial, sans-serif;
                font-size:40px;
                text-align: center;
                padding-top:25px;
                padding-bottom: 25px;
        
            }

            input {
                background:#522e6a;
                outline:0;
                width:90%;
                height:70px;
                display:block;
                margin:0 auto;
                margin-bottom: 25px;
                border-top:0;
                border-left:0;
                border-color: #d9dcff;
                border-width:4px;
                padding-left: 20px;
                font-family: 'pixeboyregular', Arial, sans-serif;
                font-size:50px;
                color:#00ff98;
            }

            img {
                margin:0 auto;
            }
        }
    }
}

footer {
    background:url('/img/footer.png') no-repeat;
    background-size: cover;
    height:150px;
    width:100%;
    position: fixed;
    bottom:0;
}